/* 
Cores de referência:
    red1: #BA181B
    red2: #E5383B
    balck1: #0B090A
    black2: #161A1D
    white2,3: #F5F3F4
*/

body {
    font-family: 'Epilogue', sans-serif;
    color: #0B090A;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    
    color: #ffffff;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#header-container {
    background-color: #0B090A; 
}


.btn {  
    padding: 20px 40px;    
    color: #ffffff;    
	text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: 'Epilogue', sans-serif;
}   

.btn-sm {
    padding: 12px 24px;
    font-size: 0.9rem;
    
}

.btn-primary {
    background-color: #e5383b;   
}

.btn-primary:hover {
    background-color: #BA181B;

}

.btn-outline {
    border: 2px solid #ffffff;
    background-color: transparent;    
}

.btn-outline:hover {
    border-color: #D9D9D9;
    color: #D9D9D9;
}

.hero-text__title {
    font-size: 56px;
    line-height: 64px;
    font-weight: 700;
}

.hero-text__subtitle {
    font-size: 20px;
    line-height: 28px;
    max-width: 520px;
    
}

#hero-container {
    background-color:#0B090A; 
    color: #ffffff;   
    padding: 0px 72px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 35px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 96px 0;
}

.hero-img {
    flex: 1;
    align-self: flex-end;
}

.hero-img img{
    max-width: 100%;
}

.overtitle {
    font-size: 16px;
    line-height: 24px;
    color: #e5383b;
    font-weight: 700;
    text-transform: uppercase;

}

.title {
    font-size: 44px;
    line-height: 56px;
    font-weight: 700;
}

#services-container {
    padding: 96px 72px;
}

.services-list {
    margin-top: 48px;
    display: flex;
    gap: 32px;
}

.service-card {
    background-color: #f5f3f4;
    border: 2px solid #d3d3d3;
}

.service-card img {
    width: 100%;

}

.Service-card__text {
    padding: 32px;
}

.Service-card__text h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 8px;
}

.Service-card__text p {
    font-size: 16px;
    line-height: 24px;
}

#location-container {
    background-color: #f5f3f4;
    
}

#location-container .location {
    padding: 96px 72px 48px;
}

#location-container address {
    display: flex;
    align-items: center;
    gap: 12px;
}

footer {
    background-color: #0B090A;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 48px 72px;
    align-items: center;
}

footer a {
    color: currentColor;
}

.footer-logocopy {
    display: flex;
    flex-direction: column;
    gap: 16px;
}